.cover__link {
    background-repeat: no-repeat;
    display: block;
    text-decoration: none;
    padding: 245px 0;
    z-index: 0;
}
.cover__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: .3;
    transition: .3s ease;
    z-index: -1;
}
.cover__link:hover:before {
    opacity: 0.8;
}
@media screen and (max-width: 1279px) {
    .cover__link {
        padding: 195px 0;
    }
}
@media screen and (max-width: 1023px) {
    .cover__link {
        padding: 115px 0;
    }
}
@media screen and (max-width: 500px) {
    .cover__link {
        padding: 33px 0;
    }
}