.cover {
    margin: 92px auto 0;
    max-width: 1184px;
    min-height: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/background.jpg);
    z-index: 1;
    }
    @media screen and (max-width: 1279px) {
        .cover__link {
            max-width: 1024px;
        }
    }
    @media screen and (max-width: 1023px) {
        .cover {
            margin: 90 auto 0;
        }
    }
    @media screen and (max-width: 1023px) {
        .cover {
            margin: 66 auto 0;
        }
    }