.cover {
    background-image: url(../../images/background.jpg);
    background-size: cover;
    position: relative;
    max-width: 1184px;
    height: 100%;
    box-sizing: border-box;
    background-position: center;
    margin: 0 auto;
    padding-top: 245px;
    padding-bottom: 245px;
    display: block;
    z-index: 1;
} 
.cover:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opacity 0.4s ease;
}
.cover:hover:before {
    opacity: 0.8;
}
@media screen and (max-width: 1023px) {
    .cover {
        max-width: 100%;
        padding-top: 195px;
        padding-bottom: 195px;
    }
}
@media screen and (max-width: 767px) {
    .cover {
        padding-top: 115px;
        padding-bottom: 115px;
    }
}
@media screen and (max-width: 600px) {
    .cover {
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
@media screen and (max-width: 320px) {
    .cover {
        padding-top: 33px;
        padding-bottom: 33px;
    }
}