.cover__title {
    position: relative;
    text-align: center;
    font-style: normal;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 32px;
    z-index: 5;
}
@media screen and (max-width: 690px) {
    .cover__title {
        font-size: 67px;
        line-height: 69px;
    }
}
@media screen and (max-width: 500px) {
    .cover__title { 
        font-size: 60px;
        line-height: 59px;
        padding-bottom: 16px;
    }
}
@media screen and (max-width: 425px) {
    .cover__title { 
        font-size: 32px;
        line-height: 35px;
        max-width: 265px;
    }
}